.country-card-component{
    width: 20%;
}

@media screen and (max-width: 640px) {
    .country-card-component{
        width: 90%;
    }
}

@media screen and (max-width: 1007px) and (min-width: 640px) {
    .country-card-component{
        width: 40%;
    }
  }